// Variables
// Color system
$primary-color: #0b594f !default;

$body-bg-app:      #777777 !default;
$body-bg-content:  #e1f9f6 !default;
$body-color:       $primary-color !default;
$body-color:       $primary-color !default;